<mat-toolbar class="main-toolbar">
  <span>Sebastian Niechciał - Project Site</span>
  <span class="spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, quidem?
</p>

<div class="button-container">
  <button
    mat-icon-button
    (click)="toggleMenuButtons()"
    aria-label="Menu Button"
    class="menu-button"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <mat-list *ngIf="menuButtons">
    <button (click)="openProjects()" class="menu-button-element">
      Projekty
    </button>

    <button (click)="openAboutMe()" class="menu-button-element">O mnie</button>
    <button (click)="openWebsites()" class="menu-button-element">
      Strony Internetowe
    </button>
    <button (click)="openPhotos()" class="menu-button-element">Zdjęcia</button>
  </mat-list>
</div>
