.spacer {
  flex: 1 1 auto;
}

.main-toolbar {
  background-color: #5eacc0;
  color: black;
}

.button-container {
}
.menu-button {
  position: absolute;
  border: 50px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #5eacc0;
  top: 90%;
  left: 50%;
}

.menu-button-element {
  position: relative;
  border: 50px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #5eacc0;
}
