<mat-toolbar class="main-toolbar">
  <span>Sebastian Niechciał - Project Site</span>
  <span class="spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, quidem?
</p>

<button
  mat-icon-button
  (click)="toggleMenuButtons()"
  aria-label="Menu Button"
  class="menu-button"
>
  <mat-icon>menu</mat-icon>
</button>
<mat-list class="button-container" *ngIf="menuButtons">
  <button
    mat-button
    (click)="openProjects()"
    class="menu-button-element project-button"
  >
    Projekty
  </button>
  <button
    mat-button
    (click)="openAboutMe()"
    class="menu-button-element aboutme-button"
  >
    O mnie
  </button>
  <button
    mat-button
    (click)="openWebsites()"
    class="menu-button-element websites-button"
  >
    Strony
  </button>
  <button
    mat-button
    (click)="openPhotos()"
    class="menu-button-element photos-button"
  >
    Zdjęcia
  </button>
</mat-list>

<div class="button-container"></div>
