<mat-grid-list cols="3" rows="10" gutterSize="15">
  <mat-grid-tile colspan="2">
    <img src="https://picsum.photos/1000/1000" alt="image" />
  </mat-grid-tile>
  <mat-grid-tile rowspan="2">
    <img src="https://picsum.photos/1000/1000" alt="image" />
  </mat-grid-tile>
  <mat-grid-tile rowspan="2" colspan="2">
    <img src="https://picsum.photos/1000/1000" alt="image" />
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="https://picsum.photos/1000/1000" alt="image" />
  </mat-grid-tile>
  <mat-grid-tile rowspan="2">
    <img src="https://picsum.photos/1000/1000" alt="image" />
  </mat-grid-tile>
  <mat-grid-tile rowspan="2" colspan="2">
    <img src="https://picsum.photos/1000/1000" alt="image" />
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="2">
    <img src="https://picsum.photos/3840/1000" alt="image" />
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="https://picsum.photos/3840/2160" alt="image" />
  </mat-grid-tile>
</mat-grid-list>
